@import 'reset';

body {
    background-color: rgba(255, 115, 0, 0.164);
}

.card {

width: 600px;
background-color: white;
text-align: center;
padding: 30px;
margin: 300px auto;
border-radius: 20px;
box-shadow: 5px 5px 10px rgba(130, 61, 18, 0.833);

    .bar {
        width: 2px;
        height: 2px;
        background-color: orange;
        margin: 20px;
    }

    .fa-solid fa-image{
        font-size: 200px;
    }

    .pic {
        width: 170px;
        height: 170px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0px auto;
        box-shadow: 5px 5px 10px rgba(130, 61, 18, 0.833);
        margin-bottom: 20px;        

        img {
            width: 113%;
            height: 109%;
            object-fit: cover;
        }
        // pic 이라는 클래스명의 div안에 img 태그를 넣고 object-fit:cover; 넣기!
    }

    
    .sircle > p {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        
    }
}