@import 'reset';

body {
    background-color: rgba(234, 178, 115, 0.2);
}

.card {
    width: 280px;
    text-align: center;
    padding: 30px;
    margin: 300px auto;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(130, 61, 18, 0.833);
    position: relative;
    background-color: white;
    z-index: 1; /* 카드가 배경보다 앞에 나타나도록 설정 */
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/img/back.jpg');
    background-size: cover;
    border-radius: 20px;
    opacity: 0.2;
    z-index: -1; /* 배경 이미지가 카드 뒤에 위치하도록 */
}

.card .bar {
    width: 25px;
    height: 5px;
    background-color: rgb(59, 144, 93);
    margin: 3px;
    border-radius: 2px;
}

.card .pic {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0px auto;
    box-shadow: 5px 5px 10px rgba(130, 61, 18, 0.833);
    margin-bottom: 20px;        
}

.card .pic img {
    width: 113%;
    height: 109%;
    object-fit: cover;
}

.card h1 {
    color: rgb(147, 100, 24);
}

.card h2 {
    color: rgb(59, 144, 93);
}

.card .pageLink {
    text-align: center;
    margin: 20px 0px 10px;
    font-size: 0px;
}

.card .pageLink a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: gray;
    border-radius: 50%;
    margin: 0px 8px;
}

.card > button {
    cursor: pointer !important;
}
