@import 'reset';

body {
    background-color: rgba(255, 115, 0, 0.164);
}

.card {

width: 600px;
background-color: white;
text-align: center;
padding: 30px;
margin: 300px auto;
border-radius: 20px;
box-shadow: 5px 5px 10px rgba(130, 61, 18, 0.833);

    .bar {
        width: 25px;
        height: 5px;
        background-color: orange;
        margin: 3px;
        border-radius: 2px;
    }


    .pic {
        width: 170px;
        height: 170px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0px auto;
        box-shadow: 5px 5px 10px rgba(130, 61, 18, 0.833);
        margin-bottom: 20px;        

        img {
            width: 113%;
            height: 109%;
            object-fit: cover;
        }
        // pic 이라는 클래스명의 div안에 img 태그를 넣고 object-fit:cover; 넣기!
    }

    .pageLink {
        text-align: center;
        margin: 20px 0px 10px;
        font-size: 0px;

        a {
            display: inline-block;
            width: 30px;
            height: 30px;
            background-color: gray;
            border-radius: 50%;
            margin: 0px 8px;
        }
        
    }
}